.contBlock{
  background-color:#ff9800;
  display: inline-block;
  margin: 5% 40%
}
form{
    border: 2px solid red;
    display: inline-block;
    padding: 20px;
    margin: 20px
}
input select{
    margin: 10px 10px 10px 20px
}
label{
    text-align: left
}
button{
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 3px
}
button:hover{
    background-color: lightsalmon;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 3px
}
select{
    background-color: white;
    width: 97%;
    padding: 4px;
}
table td:first-child {
    text-align: left
}
@media (max-width:500px){
    .contBlock{
        background-color:#ff9800;
        display: inline-block;
        margin: 5% 10%
      }  
}
